In [2]:
import pandas as pd

In [47]:
# Reading and printing a Dataset given

df = pd.read_csv('enjoysport.csv') 

print('The Given Training Dataset is: \n')
display(df)

# To count the number of columns of a df ==> df.shape[1]
# 1 i.e., col-wise

n = df.shape[1] - 1

# n: no_of_attributes after excluding the last column as it is a 'CLASS LABEL'

df.loc[0][n]

The Given Training Dataset is:

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        Yes
1  Sunny    Warm     High  Strong  Warm     Same        Yes
2  Rainy    Cold     High  Strong  Warm   Change         No
3  Sunny    Warm     High  Strong  Cool   Change        Yes

'Yes'

In [68]:
# STEP-1 : Initialize h to 0's

hypothesis = ['0'] * n

# iterating through all the columns and updating hypothesis

for i in range(0,n):
    hypothesis[i] = df.loc[0][i] 
    
print('\n Finding Maximally Specific Hypothesis \n')



for i in range(0,df.shape[0]): # iterating through all the rows
    if(df.loc[i][n] == 'Yes'):
        for j in range(0,n):
            if(df.loc[i][j] != hypothesis[j]):
                hypothesis[j] = '?'
            else:
                hypothesis[j] = df.loc[i][j]
                
    # print(hypothesis)
    
    print(f"For the Instance {i} the hypothesis is: \n",hypothesis,'\n')
       
       
print("Maximally Specific Hypothesis for given Training dataset: ",hypothesis)

 Finding Maximally Specific Hypothesis

For the Instance 0 the hypothesis is:
 ['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same']

For the Instance 1 the hypothesis is:
 ['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']

For the Instance 2 the hypothesis is:
 ['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']

For the Instance 3 the hypothesis is:
 ['Sunny', 'Warm', '?', 'Strong', '?', '?']

Maximally Specific Hypothesis for given Training dataset:  ['Sunny', 'Warm', '?', 'Strong', '?', '?']